.image{
    position: relative;
    width: 200px;
    height: 215px;
    padding-left: 335px; 
}
.e1{
    margin-left: 335px;
    margin-top: -160px;
}
.c1{
    margin-top: -50px;
}
.table{
    margin-top: -40px;
}
.Contact{
    padding-top: 5px;
}